body {
    font-family: "Poppins", Arial, sans-serif;
}

#qr-container {
    width: fit-content;
    margin: auto;
    box-shadow: 0 0 12px #0002;
    border-radius: 12px;
}

.card {
    border-radius: 12px;
}

.btn {
    border-radius: 8px;
}

.cupos-num {
    font-size: 3rem;
}

#infoAlumno p {
    margin: 3px 0;
    font-size: 1rem;
}
