body {
            font-family: Arial;
            text-align: center;
            padding: 20px;
        }

        #qr-container {
            margin-top: 20px;
        }

        button {
            margin-top: 20px;
            padding: 12px;
            background: #0077ff;
            border: none;
            color: white;
            cursor: pointer;
            width: 200px;
            border-radius: 6px;
        }

        .card {
            margin-top: 40px;
            padding: 20px;
            background: #f5f5f5;
            border-radius: 10px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
