body {
    font-family: Arial;
    background: #f3f3f3;
    margin: 0;
}

.main-header {
    background: #6a1b9a;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logout-btn {
    background: #d32f2f;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
}

.container {
    max-width: 500px;
    margin: 20px auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #0002;
}

.info {
    margin-bottom: 20px;
}

.qr-box {
    width: 220px;
    height: 220px;
    margin: auto;
    padding: 10px;
    background: white;
}

.regen-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #6a1b9a;
    color: white;
    border: none;
    border-radius: 6px;
}

.cupos-num {
    font-size: 2rem;
    text-align: center;
    color: #6a1b9a;
}
