        body {
            font-family: Arial;
            padding: 20px;
            text-align: center;
        }

        #reader {
            width: 300px;
            margin: auto;
            margin-top: 20px;
        }

        .card {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            margin-top: 25px;
            box-shadow: 0px 0px 10px #0002;
        }

        .success {
            color: green;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .error {
            color: red;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .info {
            font-size: 1rem;
        }

        table {
            width: 100%;
            margin-top: 15px;
            border-collapse: collapse;
        }

        td, th {
            border-bottom: 1px solid #ddd;
            padding: 8px;
        }