        body {
            font-family: Arial;
            background: #f3f3f3;
            margin: 0;
        }

        header {
            background: #0033aa;
            color: white;
            padding: 15px;
            text-align: center;
            font-size: 1.4rem;
        }

        .container {
            padding: 20px;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #0003;
            margin-bottom: 30px;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
        }

        button {
            padding: 12px;
            background: #0066ff;
            color: white;
            border: none;
            margin-top: 10px;
            cursor: pointer;
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background: #eee;
        }