body {
            font-family: Arial;
            background: #f3f3f3;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px #0002;
            width: 300px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
        }

        button {
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            background: #0044ff;
            color: white;
            border: none;
            cursor: pointer;
        }

        .error {
            margin-top: 10px;
            color: red;
            text-align: center;
        }